    </script>
    <script src="/js/pythonthusiast.js"></script>
    
        <div id="footer" >
          <div class="container">
               <p align="center">
               <a href="http://pythonblogs.com">Copyright(c) 2014 - Pythonblogs<br/>
               All rights reserved
               </a>
               </p>
          </div>
        </div>
    </body>
</html>