    </script>
    <script src="{$url->getTemplateFile("js/pythonthusiast.js")}"></script>
    
        <div>
          <div class="container">
               <p align="center">
               Copyright(c) 2014 - PythonBlogs.com<br/>               
               By using this website, you signify your acceptance of Terms and Conditions and Privacy Policy<br/>
               All rights reserved
               </a>
               </p>
          </div>
        </div>
    </body>
</html>