<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$locale->getLanguageId()}" 
      lang="{$locale->getLanguageId()}" dir="{$locale->getDirection()}">
<head>

    <title>{$pageTitle|escape:"html"}</title>
    <meta http-equiv="Content-Type" content="text/html;charset={$locale->getCharset()}" />
    <meta http-equiv="Content-Language" content="{$locale->getLanguageId()}" />
    
    <link rel="stylesheet" title="default" type="text/css" media="screen" href="{$url->getTemplateFile("style.css")}" />
    <link rel="stylesheet" title="default" type="text/css" media="screen" href="/styles/bootstrap.css" />

    <link rel="alternate" type="text/xml" title="RSS 2.0" href="{$url->rssLink("rss20")}" />
    <link rel="alternate" type="text/xml" title="RSS 1.0" href="{$url->rssLink("rss10")}" />
    <link rel="alternate" type="text/xml" title="RSS 0.90" href="{$url->rssLink("rss090")}" />
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="{$url->rssLink("atom")}" />
 <link rel="shortcut icon" type="image/x-icon" href="{$url->getTemplateFile("favicon.ico")}" />
{if $badbehavior}
   {$badbehavior->showBB2JavaScript()}
{/if}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div id="rap">
    <!--<h1 id="header"><a href="{$url->blogLink()}" title="{$blog->getBlog()}">{$blog->getBlog()}</a></h1>-->

   <!-- eko -->




    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="color:rgb(10,10,10);>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{$url->blogLink()}">{$blog->getBlog()}<br/>A complete tutorial series to the Python software development</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorial Series <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Desktop Application</li>
                    {foreach from=$articlecategories item=articleCategory}
                    <li><a href="{$url->categoryLink($articleCategory)}">{$articleCategory->getName()}</a></li>
                    {/foreach}                  
                    <li class="divider"></li>
                    <li class="dropdown-header">Web Application</li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Mobile Application</li>
                    <li><a href="#">Separated link</a></li>
                </ul>
              </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recent Articles<b class="caret"></b></a>
                <ul class="dropdown-menu">                    
                    {foreach from=$recentposts item=recentpost}
                    <li><a title="{$recentpost->getText()|truncate:150:"..."|strip_tags|escape}" href="{$url->postLink($recentpost)}">{$recentpost->getTopic()}</a>
                    {/foreach}
                </ul>
              </li>              
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<!-- eko -->